{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow This</title>
    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <!-- Bulma Calendar Extension -->
    <link href="{% static 'bulma-calendar/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Bulma Calendar Extension JS -->
    <script defer src="{% static 'bulma-calendar/dist/js/bulma-calendar.min.js' %}"></script>
    <!-- APP JS -->
    <script defer src="{%static 'js/app.js' %}"></script>

</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item ml-6" href="/">
                <h2 class="title is-3">Borrow This<span class="blue-logo">!</span></h2>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons mr-6">
                        <a class="mx-3 navbar-item" href="/#about">About</a>
                        <a class="mx-3 navbar-item" href="/browse"> Browse </a>
                        {% if user.is_authenticated %}
                        <a class="mx-3 navbar-item" href="/dashboard">My Dashboard</a>
                        <a class="mx-3 navbar-item" href="{% url 'logout' %}">
                            Log out
                        </a>
                        {% else %}
                        <a href="{% url 'signup' %}" class="mx-3 navbar-item">
                            <strong>Sign up</strong>
                        </a>
                        <a class="mx-3 navbar-item" href="{% url 'login' %}">
                            Log in
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="navbar-spacer"></div>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>All Rights Reserved 2020</p>
    </footer>
    
</body>
</html>