{% extends 'base.html' %}


{% block content %}


<div class="browse-page">
<section class="browse-header my-6">
    <h3 class="subtitle is-3 mx-3 browse-header-child">
        You are currently looking at <span class="has-text-weight-bold">ALL ITEMS</span>  in  <span class="has-text-weight-bold"> Bozeman Montana </span>
    </h3>
</section>
    <section class="br-rental-items">
        <!-- https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
        {#}{% for i in '0123456789'|make_list %}{#}
            {#}{{ forloop.counter}}{#}
        {% for item in items %}
        
        <div class="card mx-1 my-1 br-rental-item">
            <a href="{% url 'item_detail' item.id %}">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src={{item.picture}} alt={{item.title}}>
                </figure>
            </div></a>
            <div class="card-content">
                <p class="title is-4">{{item.title}}</p>
                <a href="{% url 'profile' item.owner_id %}"><div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src={{item.owner.image}} alt="Rental Item Owner">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="subtitle is-6">{{item.owner}}</p>
                    </div>
                </div></a>
        
                <div class="content">
                    {{item.description}}
                </div>
            </div>
            <footer class="card-footer">
                <p class="mx-3 my-3"> {{item.price}}/day</p>
                <a href="{% url 'item_detail' item.id %}"><button class="card-footer-item button is-success my-3 mx-3">Borrow This</button></a>
            </footer>
        </div>
        {% endfor %}
    </section>
</div>



    {% endblock%}