{% extends 'base.html' %}


{% block content %}

<div class="dashboard-page">

    <!-- Profile Info -->
    <div class="profile-header mt-6">
        <h3 class="subtitle is-3 profile-header-text">About Me</h3>
    </div>
    <section class="profile-section">
        <div class="box profile dashboard-boxes mb-3">
            <article class="media">
                <div class="media-left">
                    <figure class="image profile-pic">
                        <img src="{{me.image}}" alt="Image" width="245px" height="245px">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="title is-3">{{me.display_name}}</span> 
                            
                            <br>
                            <span>{{me.location}}</span>
                            <br>
                            {{me.bio}}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    
    <!-- My Items Section -->
    <div class="profile-header">
        <h3 class="subtitle is-3 profile-header-text">My Items</h3>
        <a href="{% url 'add_item' %}"><button class="button is-success mx-3">Add Item</button>
    </div></a>
    
    <section class="my-things">
        <div class="box dashboard-boxes my-rental-items">
            {#}{% for i in '012'|make_list %}{#}
            {% for item in items %}
            <a href="{% url 'item_detail' item.id %}">
                <div class="card my-rental-item mx-2 my-2">
                    <div class="card-image">
                        <figure class="image ">
                            <img src={{item.picture}} alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{item.title}}</p>
                                <p class="subtitle is-6">{{item.available}}</p>
                            </div>
                        </div>
                        <div class="content">
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% if items|length == 0 %}
            <a href="{% url 'add_item' %}">
                <div class="card my-rental-item mx-2 my-2">
                    <div class="card-image">
                        <figure class="image ">
                            <img src='https://images.unsplash.com/photo-1557318041-1ce374d55ebf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80' alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Add Item!</p>
                                <p class="subtitle is-6"></p>
                            </div>
                        </div>
                        <div class="content">
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
        </div>
    </section>
    
    <!-- My Reservations Section -->
    <div class="profile-header">
        <h3 class="subtitle is-3 profile-header-text">My Reservations</h3>
    </div>
    
    <section class="my-things">
        <div class="box dashboard-boxes my-rental-items">
            {#}{% for i in '012'|make_list %}{#}
            {% for rez in reservations %}
            <a href="{% url 'rez_detail' rez.id %}">
            <div class="card my-rental-item mx-2 mb-2">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src={{rez.item.picture}} alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{rez.occasion}}</p>
                            <p class="subtitle is-6">{{rez.start_date}} - {{rez.end_date}}</p>
                        </div>
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </section>
</div>



{% endblock%}