{% extends 'base.html' %}


{% block content %}
<div class="home-page-container">
    <section class="welcome">
        <div class="mx-3">
            <img src="https://images.unsplash.com/photo-1578357078586-491adf1aa5ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="" width="316px">
        </div>

        <div class="box welcome-message mx-3">
            <p class="mx-3 my-3">Hello and Welcome to Borrow This!  
                Where you can post anything 
                and rent anything!  Click here for more information</p>
                <button class="mx-3 my-3 button">click me</button>
                <button class="mx-3 my-3 button">click me</button>
                <button class="mx-3 my-3 button">click me</button>
                <button class="mx-3 my-3 button">click me</button>
                <button class="mx-3 my-3 button">click me</button>
                <button class="mx-3 my-3 button">click me</button>
        </div>

    </section>
</div>



    {% endblock%}