{% extends 'base.html' %}

{% block content %}

<div class="mt-6 box item-details-box">
    
    <div class="item-pics mx-3 my-3">
        <img src="https://images.unsplash.com/photo-1570106335104-fd2fe80c632e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=824&q=80" alt="Placeholder image">
    </div>

    <div class="card mx-3 my-3">
        <div class="card-content">
            <p class="title is-4">Bicycle</p>
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="subtitle is-6">John Doe</p>
                </div>
            </div>
    
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <p class="mx-3 my-3"> $5/day</p>
            <a href="{% url 'add_rez' %}"><button href="" class="card-footer-item button is-success my-3 mx-3">Borrow This</button></a>
        </footer>
    </div>
</div>



{% endblock%}