{% extends 'base.html' %}

{% block content %}
<div class="item-details-page">


    <div class="columns">
        <div class="mt-6 item-details-box">
            <div class="item-pics mx-3 my-3 column">
                <img src={{item.picture}} alt={{item.title}}>
            </div>
    
        <div class="card mx-3 my-3 item-details column">
            <div class="card-content">
                <p class="title is-4">{{item.title}}</p>
                <a href="{% url 'profile' item.owner.id %}">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src={{item.owner.image}} alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="subtitle is-6">{{item.owner}}</p>
                        </div>
                    </div>
                </a>
    
                <div class="content mt-3">
                    <p>

                        {{item.description}}
                    </p>
                    <p>
                        Minimum Rental Period:
                        {{item.min_rental}}
                        {% if item.min_rental == 1 %}
                        day
                        {% else %}
                        days
                        {% endif %}
                    </p>
                    <p class=""> ${{item.price}}/day</p>
                </div>
            </div>
            <footer class="card-footer">
                <p class="mx-3 my-3">
                    {% if item.available %}
                    Available For Rent
                    {% else %}
                    Not Available
                    {% endif %}
                </p>
                <p class="mx-3 my-3">
                    {% if item.link %}
                    <a href="{{item.link}}"> Product Link </a>
                    {% endif %}
                </p>
            </footer>
            <a href="{% url 'add_rez' item.id %}"><button href=""
                    class="card-footer-item button is-success my-3 mx-3">Borrow This</button></a>
            {% if current_profile.id == item.owner_id %}
            <footer class="card-footer">
                <a href="{% url 'item_edit' item.id %}">
                    <button class="card-footer-item button is-info my-3 mx-3">Edit</button>
                </a>
                <a href="{% url 'item_delete' item.id %}">
                    <button class="card-footer-item button is-danger my-3 mx-3">Delete</button>
                </a>
            </footer>
            {% endif %}
        </div>
        
        <div class="my-3 mx-3 box card">
            <h3 class="subtitle is-4">
                Reservations
            </h3>
            {%for rez in reservations%}
            <a href="{% url 'rez_detail' rez.id %}"><p>
                {{rez.start_date}} - {{rez.end_date}}
            </p></a>
            {% endfor %}
        </div>
    </div>

    </div>
    <div>
        <a href="{% url 'add_review' item.id %}" class="button is-success">Add a Review</a>
    </div>
    <div class="box card">
        <h3 class="subtitle is-4">
            Reviews
        </h3>
        {%for rev in reviews%}
        <article class="media">
            <figure class="media-left">
            <p class="image is-64x64">
                <img src="{{rev.author.image}}">
            </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{rev.title}}</strong> <small>by {{rev.author}}</small>
                        <br>
                        {% if rev.stars >= 1 %}
                        <i class="fas fa-star review-star"></i>
                        {% endif %}
                        {% if rev.stars >= 2 %}
                        <i class="fas fa-star review-star"></i>
                        {% endif %}
                        {% if rev.stars >= 3 %}
                        <i class="fas fa-star review-star"></i>
                        {% endif %}
                        {% if rev.stars >= 4 %}
                        <i class="fas fa-star review-star"></i>
                        {% endif %}
                        {% if rev.stars == 5 %}
                        <i class="fas fa-star review-star"></i>
                        {% endif %}
                        <br>
                        {{rev.body}}
                    </p>
                </div>
            </div>
            {% if current_profile.id == rev.author_id %}
            <a href="{% url 'edit_review' rev.id %}" class="button is-small is-info is-outlined">edit</a>
            <a href="{% url 'delete_review' rev.id %}" class="button is-small is-danger is-outlined">delete</a>
            {% endif %}

            </article>
        {% endfor %}

    </div>

</div>




{% endblock%}

