{% extends 'base.html' %}

{% block content %}

<div class="mt-6 box item-details-box">
    
    <div class="item-pics mx-3 my-3">
        <img src={{item.picture}} alt={{item.title}}>
    </div>

    <div class="card mx-3 my-3">
        <div class="card-content">
            <p class="title is-4">{{item.title}}</p>
            <a href="{% url 'profile' item.owner.id %}">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src={{item.owner.image}} alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="subtitle is-6">{{item.owner}}</p>
                </div>
            </div></a>
    
            <div class="content">
                {{item.description}}

            </div>
        </div>
        <footer class="card-footer">
            <p class="mx-3 my-3"> {{item.price}}/day</p>
            <a href="{% url 'add_rez' item.id %}"><button href="" class="card-footer-item button is-success my-3 mx-3">Borrow This</button></a>
        </footer>
        <footer class="card-footer">
            <a href="#">
                <button href="" class="card-footer-item button is-info my-3 mx-3">Edit</button>
            </a>
            <a href="{% url 'item_delete' item.id %}">
                <button href="" class="card-footer-item button is-danger my-3 mx-3">Delete</button>
            </a>
        </footer>
    </div>
</div>



{% endblock%}