{% extends 'base.html' %}

{% block content %}

<div class="dashboard-page">

    <!-- Profile Info -->
    <div class="profile-header mt-6">
        <h3 class="subtitle is-3 profile-header-text">About {{profile.display_name}}</h3>
    </div>
    <section class="profile-section">
        <div class="box profile dashboard-boxes mb-3">
            <article class="media">
                <div class="media-left">
                    <figure class="image profile-pic">
                        <img src="{{profile.image}}" alt="Image" width="245px" height="245px">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="title is-3">{{profile.display_name}}</span> 
                            
                            <br>
                            <span>{{profile.location}}</span>
                            <br>
                            {{profile.bio}}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    
    <!-- My Items Section -->
    <div class="profile-header">
        <h3 class="subtitle is-3 profile-header-text">Their Items</h3>
    </div>
    
    <section class="my-things">
        <div class="box dashboard-boxes my-rental-items">
            {#}{% for i in '012'|make_list %}{#}
            {% for item in items %}
            <div class="card my-rental-item mx-2 my-2 zoom">
                <a href="{% url 'item_detail' item.id %}">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src={{item.picture}} alt="Placeholder image">
                        </figure>
                    </div>
                </a>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{item.title}}</p>
                                <p class="subtitle is-6">
                                    {% if item.available %}
                                    Available
                                    {% else %}
                                    Not Available
                                    {% endif %}
                                    </p>
                            </div>
                        </div>
                        <div class="content">
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if items|length == 0 %}
            <div>
                <p>
                    No items to borrow
                </p>
            </div>
            {% endif %}
        </div>
    </section>
    
    <!-- My Reservations Section -->
    <div class="profile-header">
        <h3 class="subtitle is-3 profile-header-text">Their Reservations</h3>
    </div>
    
    <section class="my-things">
        <div class="box dashboard-boxes my-rental-items">
            {#}{% for i in '012'|make_list %}{#}
            {% for rez in reservations %}
            <div class="card my-rental-item mx-2 mb-2 zoom">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="{{rez.item.picture}}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{rez.item.name}}</p>
                            <p class="subtitle is-6">{{rez.start_date}} - {{rez.end_date}}</p>
                        </div>
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock%}