{% extends 'base.html' %}

{% block content %}

<div class="box mt-6">
    <h1 class="title is-1">Occasion: {{rez.occasion}}</h1>
    <a href="{% url 'item_detail' rez.item.id %}">
        <h2 class="subtitle is-3">Renting: {{rez.item.title}}</h2>
    </a>
    <p>Start Date: </p>
        <p>{{rez.start_date}}</p>
    <p>End Date: </p>
    <p>{{rez.end_date}}</p>
    <p>Pick Up: </p>
    <p>{{rez.pick_up}}</p>
    <p>Drop Off: </p>
    <p>{{rez.drop_off}}</p>
    <p>Approved? </p>
    <p>{% if rez.approved %}
        Yes
        {% else %}
        No 
        {% endif %}
    </p> 
    <p>Picked Up</p>
    <p>{% if rez.picked_up %} Yes
        {% else %} No 
        {% endif %}
    </p>
    <p>Returned:</p>
    <p>
        {{rez.returned_date}}
    </p>
    <a href="{% url 'item_detail' rez.item.id %}">
        <!-- If User is renting item -->
        <button class="button is-success is-outlined">Item</button></a>
        {% if current_profile.id == rez.renter.id %}
        {% if not rez.approved %}
    <a href="{% url 'rez_edit' rez.id %}">
        <button class="button is-info">Edit</button></a>
    <a href="{% url 'rez_delete' rez.id %}">
        <button class="button is-danger">Delete</button></a>
        {% endif %}{% endif %}
        <!-- if User owns the item -->
        {% if current_profile.id == rez.item.owner.id %}
        <!-- <a href="#"><button class="button is-success">Approve!</button></a> -->
        <a href="{% url 'rez_edit_owner' rez.id %}"><button class="button is-success"> Revise</button></a>
        <a href="{% url 'rez_delete' rez.id %}">
        <button class="button is-danger">Delete</button></a>
        {% endif %}
        <p>Renter:</p>
        <a href="{% url 'profile' rez.renter.id %}">{{rez.renter.display_name}}</a>
        <p>Owner:</p>
        <a href="{% url 'profile' rez.item.owner.id %}">{{rez.item.owner.display_name}}</a>

</div>
{% endblock%}