
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,400;0,700;1,800&display=swap');

body {
    background-color: whitesmoke;
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.title{
    font-family: 'Playfair Display', serif;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
}
footer {
    padding-top: 0;
    text-align: right;
}

.blue-logo{
    color: #0794D2;
    font-size: 1.25em;
}

.navbar {
    height: 10%;
}

.navbar-spacer{
    height: 10px;
    width:100%;
    background-color: whitesmoke;
}

input, textarea {
    display: block;
    width: 100%;
    font-size: large;
    margin-bottom: 1em;
}

input[type=checkbox]{
    width: auto;
    display: inline;
}
input[type=radio]{
    width: auto;
    display: inline;
}
#id_stars{
    display: flex;
}

#id_stars_0,
#id_stars_1,
#id_stars_2,
#id_stars_3,
#id_stars_4 {
    margin-left: 1em;
    margin-right: 1em;
}

.width-80 {
    width: 80%;
}

.zoom:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    z-index: 10;
}

a {
    color: inherit;
} 

.min-ht-column {
    min-height: 80%;
}


/* home page layout
------------------------------------------- */

.hero {
    width: 100vw;
    height: 90vh;
    /* background-image: url('https://images.unsplash.com/photo-1579208575657-c595a05383b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1571333250176-3c316199994b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
    background-position: top center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}
.hero-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero.is-fullheight {
    min-height: 95vh;
}

.hero-text {
width: 80%;
}

.hero-space{
    height: 50%;
    width: 100px;
}

.hero h1, .hero h2 {
    color: white;
}

.welcome{
    display: flex;
    justify-content: center;
    height: 90vh;
}

.cat {
    width: 45%;
    height: 60px;
}

.about-section{
    display: flex;
    justify-content: center;
}

.about-text{
    width: 80%;
    background-color: white;

}

.about-body{
    display: flex;


}



/* browse page layout 
--------------------------------------------*/

/* https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/ */

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* this is the parent for all of browse page content */
.browse-page{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
}

/* parent of the header */
.browse-header {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

/* parent of the rental items */
.br-rental-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
/* child of rental items */
.br-rental-item{
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 24%;
}


/* dashboard layout 
--------------------------------------------*/

/* parent for all dashboard content */
.dashboard-page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-delete-account{
    display: flex;
    justify-content: flex-end;
}

.profile-section {
    display:flex;
    justify-content: center;
    width: 100%;
}

.dashboard-boxes {
    width: 100%;
}

.profile-pic img {
    width: 245px;
    height: 245px;
}

.my-rental-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.my-rental-item{
    flex-grow: 0;
    flex-shrink: 1;
    width: 23%;
}
.profile-header{
    display: flex;
    justify-content: center;
}

.is-ready {
    border: 3px solid #48C774;
}

.is-ready-text{
    color: white;
    background-color: #48C774;
    padding: 5px;
}

/* Item Details Page
-------------------------------------------------- */

.item-details-box{
    width: 100%;
    height: 40%;
    display: flex;
}

.item-pics{
    width: 22%;
}

.item-details {
    width: 22%;
}

.review-star{
    color: gold;
}

/* SignUp Form Page
---------------------------------------------------- */

.helptext, .signup-form ul {
    display: none;
}



.hidden {
    position: absolute;
    display: none;
}