{% extends 'base.html' %}
{% block content %}


<div class="box card mt-6 width-80">
  <h1 class="title is-1 mx-6 mt-6 container">Sign Up</h1>
  <form class="mx-6 mt-6 signup-form" method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {{ pform.as_p }}
    {% if error_message %}<p class=" my-3 subtitle is-3 has-text-danger">{{ error_message }}</p>{% endif %}
    <input type="submit" class="button is-success my-3" value="Signup">
  </form>


</div>

{% endblock %}

